.app-root {
    -fx-background-color: rgba(242, 247, 184, 0.95);
    -fx-padding: 10;
}

.label {
    -fx-text-fill: #000000;
}

.label.title {
    -fx-text-fill: rgba(214, 157, 0, 0.95);
    -fx-font-weight: bold;
}

.label.subtitle {
    -fx-text-fill: #453f30;
}

.app-toolbar {
    -fx-background-color: #f3b300;
    -fx-padding: 8;
}

.app-toolbar .label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: rgba(234, 178, 0, 0.95);
    -fx-text-fill: #0f0d07;
    -fx-font-weight: bold;
    -fx-border-color: #322b15;
    -fx-border-width: 1.5;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 8 14 8 14;
}

.text-field,
.password-field,
.combo-box-base,
.date-picker,
.text-area {
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #5e5010;
    -fx-background-color: #fffdf3;
    -fx-background-radius: 6;
    -fx-border-color: #322b15;
    -fx-border-width: 1.5;
    -fx-border-radius: 6;
}

.tab-pane *.tab-header-area {
    -fx-background-color: #f3b300;
}

.separator *.line {
    -fx-background-color: #d3b000;
}

.table-view,
.chart {
    -fx-background-color: #fffbec;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
    -fx-background-color: rgba(255, 255, 255, 0.82);
}

.hyperlink {
    -fx-text-fill: #3d3628;
}
